# Movie reviews that have been labeled negative or positive

In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv("D:\\DATA SCIENCE AND MACHINE LEARNING\\UNZIP_FOR_NOTEBOOKS_FINAL\\DATA\\moviereviews.csv")

In [15]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [16]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [17]:
df = df.dropna()

In [18]:
df['review'].str.isspace().sum()

27

In [19]:
df[df['review'].str.isspace()]

     label review
57     neg
71     pos
147    pos
151    pos
283    pos
307    pos
313    neg
323    pos
343    pos
351    neg
427    pos
501    neg
633    pos
675    neg
815    neg
851    neg
977    neg
1079   neg
1299   pos
1455   neg
1493   pos
1525   neg
1531   neg
1763   neg
1851   neg
1905   pos
1993   pos

In [20]:
df = df[~df['review'].str.isspace()]

In [21]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1938 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1938 non-null   object
 1   review  1938 non-null   object
dtypes: object(2)
memory usage: 45.4+ KB

In [23]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

## EDA on Bag of Words

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [25]:
cv = CountVectorizer(stop_words='english')

In [26]:
matrix = cv.fit_transform(df[df['label']=='neg']['review'])
freqs = zip(cv.get_feature_names(), matrix.sum(axis=0).tolist()[0])    
# sort from largest to smallest
print("Top 20 words used for Negative reviews.")
print(sorted(freqs, key=lambda x: -x[1])[:20])

Top 20 words used for Negative reviews.
[('film', 4063), ('movie', 3131), ('like', 1808), ('just', 1480), ('time', 1127), ('good', 1117), ('bad', 997), ('character', 926), ('story', 908), ('plot', 888), ('characters', 838), ('make', 813), ('really', 743), ('way', 734), ('little', 696), ('don', 683), ('does', 666), ('doesn', 648), ('action', 635), ('scene', 634)]

C:\Users\abmou\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [27]:
matrix = cv.fit_transform(df[df['label']=='pos']['review'])
freqs = zip(cv.get_feature_names(), matrix.sum(axis=0).tolist()[0])    
# sort from largest to smallest
print("Top 20 words used for Positive reviews.")
print(sorted(freqs, key=lambda x: -x[1])[:20])

Top 20 words used for Positive reviews.
[('film', 5002), ('movie', 2389), ('like', 1721), ('just', 1273), ('story', 1199), ('good', 1193), ('time', 1175), ('character', 1037), ('life', 1032), ('characters', 957), ('way', 864), ('films', 851), ('does', 828), ('best', 788), ('people', 769), ('make', 764), ('little', 751), ('really', 731), ('man', 728), ('new', 702)]

### Training and Data

In [28]:
from sklearn.model_selection import train_test_split

X = df['review']
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [29]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB

In [30]:
pipe = Pipeline([('tfidf', TfidfVectorizer()),('svc', LinearSVC()),])

In [31]:
# Feed the training data through the pipeline
pipe.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('svc', LinearSVC())])

### Create a classification report and plot a confusion matrix based on the results of your PipeLine.

In [47]:
from sklearn.metrics import classification_report,plot_confusion_matrix

In [48]:
preds = pipe.predict(X_test)

In [56]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

         neg       0.81      0.86      0.83       191
         pos       0.85      0.81      0.83       197

    accuracy                           0.83       388
   macro avg       0.83      0.83      0.83       388
weighted avg       0.83      0.83      0.83       388

### Predictionn by using Naive Bayes

In [49]:
tfidf=TfidfVectorizer(stop_words='english')

In [50]:
X_train_tfidf=tfidf.fit_transform(X_train)

In [51]:
X_test_tfidf=tfidf.transform(X_test)

In [52]:
nb=MultinomialNB()

In [53]:
nb.fit(X_train_tfidf, y_train)

MultinomialNB()

In [54]:
pred2 = nb.predict(X_test_tfidf)

In [55]:
print(classification_report(y_test,pred2))

              precision    recall  f1-score   support

         neg       0.78      0.87      0.82       191
         pos       0.86      0.76      0.80       197

    accuracy                           0.81       388
   macro avg       0.82      0.81      0.81       388
weighted avg       0.82      0.81      0.81       388